// Base Styles
html {
	font-size: 100%;
}

body {
	background-color: $bg-color;
	color: $text-color;
	font-family: $font-primary;
	line-height: 1.625;
	text-rendering: optimizeLegibility;
	@include font-smooth();
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-weight: bold;
	line-height: 1.2;
	margin: 1em 0 0.5em;

	&:first-child {
		margin-top: 0;
	}

	a {
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}
}

h1 {
	font-size: 2em;
	line-height: 1.16667;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1.125em;
}

h5,
h6 {
	font-size: 1em;
}

figure,
blockquote,
p,
ul,
ol {
	margin: 0 0 1em;
}

ul,
ol {
	padding: 0 0 0 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

hr {
	background-color: $border-color;
	border: 0;
	color: inherit;
	height: 1px;
	margin: 1.875em 0;

	&:first-child {
		margin-top: 0;
	}
}

embed,
iframe,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}
