// Layout
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: $container-max-width;
	padding-left: $container-padding;
	padding-right: $container-padding;
	position: relative;
}

@include media-breakpoint-down(md) {
	.container {
		padding-left: $container-padding-small;
		padding-right: $container-padding-small;
	}
}

.block {
	display: block;
}

.box-border {
	box-sizing: border-box;
}

.clear {
	@include clearfix();
}
