// Site Header
.header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

.header__logo,
.header__title {
	height: 3.125rem;
}

.header__title {
	text-decoration: none;
}

@include media-breakpoint-up(md) {
	.header__logo,
	.header__title {
		height: 5rem;
	}
}
